
	<h3>{{dateFormat c_Date format='Do MMM YYYY' timezone=timezone}}</h3>
	<p>{{dateFormat c_Date format='hh:mm a' timezone=timezone}}</p>
	<figure class="home">
		<img src="{{c_HomeLogoImage}}" />
		<legend>{{c_HomeTeam_en}}</legend>
	</figure>
	<figure class="away">
		<img src="{{c_AwayLogoImage}}" />
		<legend>{{c_AwayTeam_en}}</legend>
	</figure>
	<div class="score">{{n_HomeGoals}} x {{n_AwayGoals}}</div>
